@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html{
scroll-behavior: smooth;

}
#inicio {
background:  linear-gradient(rgba(88, 125, 98, 0.884),rgba(8, 71, 16, 0.7)) , url( );
background-size:cover;
background-position: center center;



}


#inicio .contenido header{
    background-color: #0c462ae1;
    position:fixed;
    width:100%;
    z-index:100;
    top:0;
    
}
#inicio .contenido header .contenido-header{
    max-width: width 1100px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;

}


#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a{
text-decoration: none;
color: #fff;
margin: 0 12px;
font-weight :400;
transition:.5s;
}
#inicio .contenido header .contenido-header nav ul a:hover{
    color:#459a38;
    
}
#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display:inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a :hover{
color: #ff5080;
}
#inicio .contenido .container h1{
    font-family:"montserrat" ,sans-serif;
}
/*buscador*/
.main{
    background:linear-gradient(rgba(0,0,0,0.5)rgba(0,0,0,0.5)) ;
    background-size: 100% 100%;
    width: 100%;
}
.main h1{
    font-size: 2rem;
    font-weight: 500;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card{
    border: none;
}
.main select{
    height: 40px;
    width: 90%;
    outline: none;
    padding: 0 20px;

}
.main span{
    color: gray;
    font-weight: 600;
}
.main .btn1{
    background-color: green;
    color: #f3f3f3;
    outline: none;
    border: none;
    width: 90%;
    height: 40px;
    margin-top: 32px;
}

.btn1:hover{
    background-color: #146b41;
    transition: 0.5s;
}
.container{
    padding: 100px 40px;
    text-align: center;
    color: white;
    height:100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    


}




.container p{
    max-width: 600px;
margin: 40px auto;
    font-size: 15px;
    font-weight: 300;

}


.email-box{
    height: 40px;
    display:flex;
    justify-content: center;

}


.email-box i{
background: #111135;
width: 40px;
line-height: 40px;

}

.tbox, .btn{
    border: none;
    outline: none;
}


.tbox{
    width: 0px;
    transition: 0.6s;

}
.email-box:hover > .tbox, .tbox:focus{
    width: 260px;
    padding: 0 10px;
}
.btn{
    background: #111135;
    color: white;
    padding:0 10px;
    text-transform: uppercase;
}
#incono-nav{
    color:#fff;
    display: none;
}

/*Seccion nosotros*/
#nosotros{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex ;
}

#nosotros .contenedor-foto{

    max-width: 200px;
    margin-right: 150px;
}
#nosotros .contenedor-foto video{
    
    padding: 10px;
    width: 400%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#nosotros .nosotros{
    margin: 0 40px;


}
#nosotros .nosotros .titulo-seccion{
font-size: 22px;
text-transform: uppercase;
color: #111135;
text-decoration: underline;
text-decoration-color: #d3d3d3;
text-decoration-thickness: 5px;
}
#nosotros .nosotros h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;

    
}
#nosotros .nosotros h2 span{
    color: #146b41;
}
#nosotros .nosotros h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
#nosotros.nosotros p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
    
}

#nosotros .nosotros a:hover{
    background-color: #ff5080;
    color:#fff;
}

/*SECCION ALQUILER*/
#alquiler{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;


}
#alquiler .titulo-seccion{
font-size: 22px;
text-transform: uppercase;
color: #111135;
text-decoration: underline;
text-decoration-color: #d3d3d3;
text-decoration-thickness: 5px;

}
#alquiler .titulo-seccion2{
    font-size: 15px;
    text-transform: uppercase;
    color: #111135;
    text-decoration-thickness: 5px;
    
}
#alquiler p{

    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    text-align:center;

}

#alquiler .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin:30px auto;


}
#alquiler .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-right:5px;
    transition: .5s;

}
#alquiler .fila .servicio:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;

}
#alquiler .fila .servicio h4{
    font-size: 22px;
    margin: botox 25px;
}
#alquiler .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;

}
#alquiler .fila .servicio hr{
    width:30%;
    margin:auto;
    color:#000;
    margin-bottom: 25px;

}
#alquiler .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;


}
#alquiler .fila .servicio p{
    font-size: 14px;
    line-height: 22px;

}
/*SECCION HABILIDADES*/
.contenedor-skills{
    background: linear-gradient(#1e510fcc, rgba(84, 163, 101, 0.8)), url(IMAGENES/Logos/reg\ logo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding:100px 0;
    text-align: center;
}
.contenedor-skills .skill{
    max-width: 600px;
    margin: 30px auto;

}
.contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.contenedor-skills .skill .barra{
    background-color: #919191;
    width:100%;
    height: 6px;
    margin: 10px 0;
}
/*este estilo se aplicara luego mediante javascript para lograr la animacion de la barra*/




/*seccion portafolio*/
#ventas{
    max-width: 1100px;
    padding: 100px 0;
    margin:auto;
}
#ventas .titulo-seccion{
text-align: center;
font-size: 22px;
text-transform: uppercase;
color: #111135;
text-decoration: underline;
text-decoration-color: #d3d3d3;
text-decoration-thickness: 5px;

}
#ventas .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}
#ventas .fila .proyecto{
    max-width: 450px;
    border:1px solid #000;
    margin:0 10px;
    position: relative;
    overflow: hidden;
}
#ventas .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;

}
#ventas .fila .proyecto:hover img{
    filter: grayscale(0);

}
#ventas .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}



#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

#contacto{
    padding: 100px 15px;

}
#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;

}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;

}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
display: flex;
justify-content: space-between;

}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border:none;
    border: 1px solid #919191; 
}

#contacto .contenedor-form .mitad input{
    width: 48%;
}


#contacto .contenedor-form .input-full{
    width: 100%;
}

#contacto .btn-enviar{
    display:block;
    margin:auto;
    cursor: pointer;
    transition:.5s;
    padding: 10px 15px;
    font-size:18px ;
    font-weight: bold;


}
#contacto .btn-enviar:hover{
    background-color: #0c462ae1;
color: #fff;
}

footer{
    background-color: rgb(33, 112, 46);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration:none ;
    color: #fff;
    display: inline-block;
    margin: 5px;
}
/*seccion responsive*/
@media screen  and (max-width:800px){
    .redes{
        display: none;

    }
    nav{
        display:none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0,0,0,.8);
        width:100%;
        position:absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;

    }
    nav.responsive ul{
        display:block !important;
        text-align: center;
    }
    #icono-nav{
        display: block;
    }
}

#inicio .contenido .presentación h2{
    font-size:40px;
}

#nosotros{
    padding: 50px 0;
    display: block;
}
#nosotros .contenedor-foto{
    
    max-width: 200px;
    display: auto;
}
#nosotros .contenedor-foto video{
padding: 8px;
}

#nosotros .nosotros .titulo-seccion{
    text-align: center;
}

/*Ventas*/
* {
    box-sizing: border-box;
}

h2{
    font-size: 30px;
    font-weight:lighter;
    margin: 10px 0;
    letter-spacing: 1px; 
}

.row .column {
    padding: 0 8px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 100px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video{
    
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}







/******/
#ventas img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
#ventas .container {
    position: relative;
    height: 50vh;
    margin: 10%;



}

/* Hide the images by default */
#ventas .mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
#ventas .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
#ventas .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
#ventas .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#ventas .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
#ventas .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
#ventas .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

#ventas .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
#ventas .column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
#ventas .demo {
    opacity: 0.6;
}

#ventas .active,
.demo:hover {
    opacity: 1;
}
#ubicacion{
    
        padding: 100px 10px;
    

}

#ubicacion .titulo-seccion{
    text-align: center;
    
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#container{
    align-items: center;
    display: flex;
height: 150px;
    justify-content: center;
width: 100%;
}

#container .block {
    background: #e87b24;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 160px;
}